sudo: false
dist: xenial  # is required for python3.7+
language: python
python:
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"

install:
  # Install our dependencies
  - pip install -r requirements-dev.txt

  # Install `flake8-quotes`
  - python setup.py develop

script:
  # Run our tests
  - ./test.sh
