sudo: false
dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  # Install our dependencies
  - pip install -r requirements-dev.txt

  # Install `flake8-quotes`
  - python setup.py develop

script:
  # Run our tests
  - ./test.sh
